@{
    ViewBag.Title = "#Shopping";
}


<h2>#Shopping</h2>

<div style="height: 500px; overflow: auto;">
    <table class="maple_listing">
        <tr style="background-color:#dddddd">
            <th>Shop</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td style="width: 40%;">
                #Adventuring Shop
            </td>
            <td>
                @Html.ActionLink("Enter Shop", "Adventure", null, new { Class = "play_button", target = "_blank" })
            </td>
        </tr>
        <tr style="background-color:#dddddd">
            <td style="width: 40%;">
                #Blacksmith Shop
            </td>
            <td>
                @Html.ActionLink("Enter Shop", "Blacksmith", null, new { Class = "play_button", target = "_blank" })
            </td>
        </tr>
        <tr>
            <td style="width: 40%;">
                #Magic Shop
            </td>
            <td>
                @Html.ActionLink("Enter Shop", "Magic", null, new { Class = "play_button", target = "_blank" })
            </td>
        </tr>
        <tr style="background-color:#dddddd">
            <td style="width: 40%;">
                #Tailoring Shop
            </td>
            <td>
                @Html.ActionLink("Enter Shop", "Tailor", null, new { Class = "play_button", target = "_blank" })
            </td>
        </tr>
        <tr>
            <td style="width: 40%;">
                #Witch Shop
            </td>
            <td>
                @Html.ActionLink("Enter Shop", "Witch", null, new { Class = "play_button", target = "_blank" })
            </td>
        </tr>
        
    </table>
</div>
