@model IEnumerable<Maps.Models.vmMap>

@{
    ViewBag.Title = "Index";
}


<h2>#Maps</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { Class = "play_button" })
</p>

<div style="height: 500px; overflow: auto;">



    <table class="maple_listing">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Size
            </th>




            <th></th>
        </tr>
        @if(Model != null)
        {
            foreach (var item in Model)
            {
                <tr>

                    <td style="width: 40%;">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Width_Squares)
                        x
                  @Html.DisplayFor(modelItem => item.Height_Squares)
                    </td>




                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Map_ID }, new { Class = "play_button" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Map_ID }, new { Class = "delete_button", Style = "margin-right:25px;" })

                        @Html.ActionLink("Play That Shit >>", "Play", new { id = item.Map_ID }, new { Class = "play_button", target = "_blank" })
                    </td>
                </tr>
            }
        }

    </table>
</div>
