@model Maps.Models.Map

@{
    ViewBag.Title = "NERDHOUSE DND";
    Layout = null;
}
<link href="~/Content/themes/DND/Map.css" rel="stylesheet" />
<link href="~/Scripts/JQUERYUI/jquery-ui.min.css" rel="stylesheet" />

<style>
    .character_avatar {
        margin: 0px;
        padding: 0px;
        float: left;
        cursor: pointer;
        z-index: 3;
        position: relative;
        top: 0;
        left: 0;
    }

    .toolbox {
        padding: 10px;
        position: absolute;
        top: 0;
        right: 0;
        float: left;
        z-index: 4;
        height: 100%;
        width: 10%;
        background-color: white;
        visibility: hidden;
    }

    body {
        overflow: hidden;
    }

    .npc_desc {
        float: right;
        position: absolute;
        bottom: -20px;
        width: 100%;
        left: 0px;
    }


    .toolbox_dragabble {
        width: 50px;d
        display: inline-block;
    }

    .npc {
        width: @Html.Raw(Model.Width_Squares / 2)px;
     height: @Html.Raw(Model.Height_Squares / 2)px;
    }
</style>




<div class="map_body">

    <!-- The background img of the actual map !-->
    <img src="@Url.Content(System.Configuration.ConfigurationManager.AppSettings["UPLOADED_MAP_IMAGES_RELATIVE_PATH"])/@Model.Background_IMG_Path" class="map_img" />

    <div class="map">
    </div>




</div>

<div class="toolbox">
    <h2>#Toolbox</h2>

    <div class="toolbox_dragabble">
        <img src="~/Images/Toolbox_Icons/sword.png" style="width: 100%;" />
        <input type="text" class="npc_desc" />
    </div>

    <div class="toolbox_dragabble">
        <img src="~/Images/Toolbox_Icons/bolt.png" style="width: 100%;" />
        <input type="text" class="npc_desc" />
    </div>

    <div class="toolbox_dragabble">
        <img src="~/Images/Toolbox_Icons/brain.png" style="width: 100%;" />
        <input type="text" class="npc_desc" />
    </div>

    <div class="toolbox_dragabble">
        <img src="~/Images/Toolbox_Icons/fire.png" style="width: 100%;" />
        <input type="text" class="npc_desc" />
    </div>

    <div class="toolbox_dragabble">
        <img src="~/Images/Toolbox_Icons/flag.png" style="width: 100%;" />
        <input type="text" class="npc_desc" />
    </div>

    <div class="toolbox_dragabble">
        <img src="~/Images/Toolbox_Icons/frost.png" style="width: 100%;" />
        <input type="text" class="npc_desc" />
    </div>

    <div class="toolbox_dragabble">
        <img src="~/Images/Toolbox_Icons/gay.png" style="width: 100%;" />
        <input type="text" class="npc_desc" />
    </div>

    <div class="toolbox_dragabble">
        <img src="~/Images/Toolbox_Icons/hex.png" style="width: 100%;" />
        <input type="text" class="npc_desc" />
    </div>

    <div class="toolbox_dragabble">
        <img src="~/Images/Toolbox_Icons/skull.png" style="width: 100%;" />
        <input type="text" class="npc_desc" />
    </div>

    <div class="toolbox_dragabble">
        <img src="~/Images/Toolbox_Icons/tower.png" style="width: 100%;" />
        <input type="text" class="npc_desc" />
    </div>

</div>



</div>

<div class="map_block" style="display: none;"></div>


<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/JQUERYUI/jquery-ui.min.js"></script>
<script src="~/Scripts/DND/Map.js"></script>

<script type="text/javascript">

    $(function () {
        // Map Load Logic (see "Map.js")

        map_init("@Model.Width_Squares", "@Model.Height_Squares");

        //create an array of our players based on server data
        var characters = @Html.Raw(
        Json.Encode(
            ((IEnumerable<Maps.Models.Character>)ViewBag.Chars).Select(c => new
            {
                Name = c.Name,
                Avatar = c.Avatar_IMG,
                ID = c.Character_ID

            })
        )
    );

        //add the server character to the map js
        addCharactersToMap(characters,'@Url.Content(System.Configuration.ConfigurationManager.AppSettings["UPLOADED_MAP_IMAGES_RELATIVE_PATH"])');

        //setup key bindings for shit like showing toolbox..
        initKeyBindings();



    });


</script>
